
.celleGriglia{
    background-color: white;

}

.celleGriglia:hover{
    background-color: black;
}

.cellaInizio{
    background-color: green;
}

.cellaFine{
    background-color: red;
}

.cellaMuro{
    background-color: black;
}

.cellaVisitata{
    background-color: rgb(0, 94, 255) !important;
}

.cellaPercorso{
    background-color: orange;
}

/* tabella */
.contenitoreGriglia{
    border-collapse: collapse !important;
    border-spacing: 0px !important;
}

tr{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse !important;

}

td,th{
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    font-size: 10px !important;
}

/* contenitore grafo */
.contGrafo{
    margin-top: 4vh;
}

